<p id="notice"><%= notice %></p>

<h1>Clubs</h1>

<table>
  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%=link_to "#{club.club_name}", club_path(club)%></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
