<div class="background" style="background-image:url(<%= image_url('bottles.png') %>); height: 100%;">


<h1 class="this_page_style">Checkout</h1>
<h3 class="this_page_style2"><%="Your total is $#{@total.to_i/100}" %></h3>


<form class="checkout" action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    data-amount=<%= "#{@total}" %>
    data-name="Stripe.com"
    data-description="Widget"
    data-image=<%= image_url('Tunnel.jpeg') %>
    data-locale="auto">
  </script>
</form>
</div>
