<h1>Checkout with Stripe</h1>

<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    data-amount=<%= "#{@total}" %>
    data-name="Stripe.com"
    data-description="Widget"
    data-image="/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>

<div class="background" style="background-image:url(<%= image_url('img-333.jpg') %>)"></div>
