<!-- Slide #1 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <h1 class="small ae-1">Checkout</h1>
        <div class="ae-2"><p><%="Your final balance is $#{@total.to_i/100}" %></p></div>
        <div class="fix-5-12 box-52">
          <button class="button pink round wide uppercase button-52 ae-8 checkout-btn"
          >Pay With Card</button>
        </div>
        <form class="checkout-form" action="" method="POST"></form>
      </div>
    </div>
  </div>
</div>
<div class="background" style="background-image:url(<%= image_url('img-clubs.jpeg') %>);"></div>
</section>
