// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.this_page_style {
  padding-top: 100px;
  padding-left: 36%;
}

  .this_page_style2 {
    padding-top: 3px;
    padding-left: 42%;
}

.checkout {
  position:relative;
  padding-left: 46%;
  padding-top: 5%;

}
